/* You can add global styles to this file, and also import other style files */
footer{
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color: aliceblue;
    height:50px;
    padding:1em;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-check {
    display: inline-block;
    margin-left: 10px;
}
